/* ol li:nth-child(even) {
    background-color: yellow;
    color: green;
}

ol li:nth-child(odd) {
    background-color: yellow;
    text-transform: uppercase;
} */

.list-ordered .item-even  {
    background-color: yellow;
    color: green;
}

.list-ordered .item-odd {
    background-color: yellow;
    text-transform: uppercase;
}

h1, h3 {
    color: red;
    
}

h1.unique{
    font-size: 40px;
    border: solid 1px black;
    text-align: center;
}

/* 
li em{
    font-size: 20px;
    font-weight: 600;
} */

ol li {
    font-size: 20px;
    font-weight: bold;
}

/* ul.firstThree li:nth-child(-n+3){
    color: blue;
}

ul.firstThree li:nth-of-type(3){
    color: pink;
} */

.first-three .color-blue {
    color: blue;
}

.first-three .color-pink {
    color: blue;
    background-color: pink;
    width: 50px;
}

ul.links li:hover:first-child{
    font-weight: 600;
    color: orange;
}

ul.links li:hover:nth-of-type(2){
    font-weight: 600;
    color: green;
}

ul.links li:hover:nth-of-type(3){
    font-weight: 600;
    color: black;
}

ul.links li:hover:nth-of-type(4){
    font-weight: 600;
    color: yellow;
}

ul.links li:hover:last-of-type{
    font-weight: 600;
    color: green;
}


