ol li:nth-child(even) {
    background-color: yellow;
    color: green;
}

ol li:nth-child(odd) {
    background-color: yellow;
    text-transform: uppercase;
}

h1, h3 {
    color: red;
    
}

h1.unique{
    font-size: 40px;
    border: solid 1px black;
}

li em{
    font-size: 20px;
    font-weight: 600;
}

ul.firstThree li:nth-child(-n+3){
    color: blue;
}

ul.firstThree li:nth-last-of-type(3){
    color: pink;
}