/* .super-mario{
 width: 200px;
 position: absolute;
 left: 100px;
}
.goomba{
 width: 200px;
 position: absolute;
 top: 375px;
 left: 100px;
    
}
.bowser{
 width: 200px;
 position: absolute;
 right: 500px;
 top: 275px;

}
.baloon{
 width: 200px;
 position: absolute;
 right: 500px;
 top: 100px;
 z-index: 1;
   
}
h1{
    text-align: center;
}
.word{
    position: absolute;
    right: 630px;
    top: 100px;
    z-index: 2;
    max-width: 20px;

}
div{
    right: 135px;
    top: 85px;
    position: absolute;
} */