/* div:hover{
    border: dashed blue;
}
div:first-of-type{
    background-color: darkorange;
    color:darkgreen
}

div:nth-of-type(2){
   background-color: aqua;
   color: darkgrey; 
}

div:nth-of-type(3){
    background-color: black;
    color: blanchedalmond;
    padding:5px;
}

div:nth-of-type(4){
    background-color: darkgray;
    color: darkorchid;
}

div:last-of-type{
    background-color: darkorchid;
    color: lightblue;
}  
div:nth-child(odd){
    font-style: italic;
} */
