/* body{
    background-color: khaki;
}

#navLinks a{
    display: inline;
    margin: 170px;
    font-size: 22px;
    
 
}

#nav{
    background-color: darkseagreen;
    height: 30px;
    padding: 30px;
    width: 100%;
}

article{
    padding: 20px;
}

h2{
    color: royalblue;
    text-align: center;
    
}

 h1{
    text-align: center;
    font-size: 35px;
    color: blueviolet;
    text-decoration: underline;
    
    
}

p{
    font-family:monospace;
    width: 100%;
    color:brown;

}

#table, th, td {
    width: 100%;   
    padding: 10px;
    border: darkcyan solid 3px;
    
}

#second img{
    width: 200px;
    float: right;
}


#third img{
    width: 200px;
    float: left;
    padding: 5px;
    
}
#third p{
    padding-bottom: 70px;
    padding-top: 30px;
    
    
}

#fourth img{
    width: 200px;
    float: right;
    padding: 5px;
    padding-right: 40px;
    
}

#fourth p{
    padding-bottom: 70px;
    padding-top: 30px;
    
    
}

#bib{
    font-size: 20px;
    color:green;
    text-align: center;
    border: greenyellow 5px dashed;
    padding: 5px;
    text-decoration: none;
    width: 50%;
    
}

a{
    text-decoration: none;
}
#navLinks a:hover{
    color: white;
    background-color: midnightblue;
    font-size: 30px;
}

#bib a:nth-child(1n):hover{
    background-color: yellow;
    color: red;
}

#bib a:nth-child(2):hover{
    background-color:red;
    color: yellow;
}

#bib a:nth-child(3n):hover{
    background-color:green;
    color:white;
}

h4{
    color: cadetblue;
    margin-left: 750px;
    
}

#art{
    max-width: 550px;
    padding: 5px;
    margin-top: -270px;
    
}

iframe{
    margin-left: 700px;
    
}
#About{
    margin-top: 80px;
}
 */
