/* h1 {
    text-align: center;
    
  }

  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin-left: 530px;
    
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin-left: 25%;
    
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    
    
  }

  ul{
    list-style: none;
  }

  h3{
    text-align: center;
    
  }
  
  .ulInline li{
    display: inline;
         
  }
  #one{
    margin-left: 320px;
  }

  #two{
    margin-left: 320px;
  }

  #three{
    margin-left: 320px;
  } */
