ol{
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

.Fonts{
    color: red;
}

.Fonts em{
    font-size: 40px;
    border: solid 1px black;
}

li{
  font-size: 20px;
}

li em{
    font-weight: bold;
}

.languages li:nth-child(-n+3){
    color: blue;
}
.languages li:nth-child(3n){
    color:palevioletred;
}
    
