body{
    background-color: khaki;
}

#navLinks a{
    display: inline;
    margin: 170px;
    font-size: 22px;
    
 
}

#nav{
    background-color: darkseagreen;
    height: 30px;
    padding: 30px;
    width: 100%;
}

article{
    padding: 20px;
}

h2{
    color: royalblue;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    color: darkblue;
    
    
}

p{
    font-family:monospace;
    width: 100%;
    color:brown;

}

#table, th, td {
    width: 100%;   
    padding: 10px;
    border: darkcyan solid 3px;
    
}

#second img{
    width: 200px;
    float: right;
}


#third img{
    width: 200px;
    float: left;
    padding: 5px;
    
}
#third p{
    padding-bottom: 70px;
    padding-top: 30px;
    
    
}

#fourth img{
    width: 200px;
    float: right;
    padding: 5px;
    padding-right: 40px;
    
}

#fourth p{
    padding-bottom: 70px;
    padding-top: 30px;
    
    
}
