body{
    background-color: khaki;
}

#navLinks a{
    display: inline;
    margin: 40px;
    background-color: burlywood;
    font-size: 20px;
   
}

article{
    padding: 20px;
}

h2{
    color: royalblue;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 35px;
    color: darkblue;
    
    
}

p{
    font-family:monospace;
    width: 100%;
    color:brown;

}

table, th, td {
    width: 100%;   
    padding: 10px;
    border: darkcyan solid 3px;
    
}