      h1 {
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
      }

      ul {
        background-color: palegreen;
        list-style:lower-greek;
      }

      .modifyColor {
        background-color: purple;
      }

      p {
        font-weight: 600;
        font-size: 3em;
        font-style:oblique
        
      }

      body {
        font-size: 16px;
        line-height: 2;
        text-align:justify;
        text-decoration:overline;
        background-color:#A2A09B;
      }

      #yellow {
        background-color: yellow;
      }

      #red {
        background-color: red;
      }

      #brown {
        background-color: brown;
      }
