    body{
    font-size: 16px;
}

h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: underline;
                
} 
    

ul{
    background-color: palegreen;
}

.alter{
    background-color: slategray;
    text-align: center;
    
}
p{
    font-weight: 600;
    font-size: 3em;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

#brown{
    background-color: brown;
}

