.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  width: 300px;
  border: red double 5px;
}

.div {
  margin-left: 650px;
  margin-top: -545px;
}

.div img {
  height: 430px;
  border: cadetblue dashed 5px;
}

.div1 img:hover {
  height: 500px;
  transition: 3s;
}

.div img:hover {
  height: 500px;
  transition: 3s;
}
